<div class="page-header"><h1>Exercise 1</h1></div>

<p>create a program that will ask the users name, age, and reddit username. have it tell them the information back, in the format:</p>

<p class="text-info">your name is (blank), you are (blank) years old, and your username is (blank)</p>

<p>for extra credit, have the program log this information in a file to be accessed later.</p>

<hr>

<form action="/processDataE1" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" placeholder="Name" name="firstName">
            <input type="hidden" name="_csrf" value="<%= token %>">
        </div>
    </div>
    <div class="form-group row">
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="age" placeholder="Age" name="age">
        </div>
        
        <label for="userName" class="col-sm-2 col-form-label">UserName</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="userName" placeholder="UserName" name="userName">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <button type="submit" class="btn btn-primary col-sm-4">Submit</button>
    </div>
</form>

<hr>
<% data.forEach(function (item, index){ %>


<p class="row body">
        <div class="col-sm-1">Name</div>
        <div class="col-sm-2"><%=item.firstName%></div>
        <div class="col-sm-1">Age</div>
        <div class="col-sm-2"><%=item.age%></div>
        <div class="col-sm-2">username</div>
        <div class="col-sm-2"><%=item.userName%></div>
</p>

<% }) %>
    
